:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text color */
  --main-txt-cl: #212121;
  --sec-txt-cl: #757575;
  --accent-txt-cl: #2196f3;

  /* bg color */
  --darc-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;

  /* others */
}
/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  text-decoration: var(--main-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h3 {
  padding-bottom: 10px;
}

/* body section */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}
/* header section */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  margin-left: 93px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px;
}
.nav-items .item:not(:last-child) {
  margin-right: 50px;
}

.nav.link {
  font-family: var(--secondary-font);
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.item-nav-studio {
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.nav-item.studio {
  color: var(--accent-txt-cl);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-inline-start: 0px;
  margin-left: auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.mail {
  color: #2196f3;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* mail */

.envelope {
  display: inline-block;
  fill: var(--sec-txt-cl);
  width: 100%;
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.mail:hover .envelope {
  fill: var(--accent-txt-cl);
}

.mail:focus .envelope {
  fill: var(--accent-txt-cl);
}

.envelope:focus {
  fill: var(--accent-txt-cl);
}

/* tell */

.smartphone {
  display: inline-block;
  fill: var(--sec-txt-cl);
  width: 100%;
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.tel:hover .smartphone {
  fill: var(--accent-txt-cl);
}

.tel:focus .smartphone {
  fill: var(--accent-txt-cl);
}

.smartphone:focus {
  fill: var(--accent-txt-cl);
}

.adress-items {
  margin-top: 0px;
  margin-left: 50px;
}

.adress-items:first-child {
  margin-left: 0px;
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-item:hover,
.mail:hover,
.tel:hover {
  color: var(--accent-txt-cl);
}
.nav-item:focus,
.mail:focus,
.tel:focus {
  color: var(--accent-txt-cl);
}
.tel,
.mail {
  color: var(--sec-txt-cl);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* main section */
.main-secnion {
  text-align: center;
  background-color: var(--darc-bg-cl);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0px;
  margin-bottom: 30px;
}
.team-items {
  background-color: var(--light-bg-cl);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-inline-start: 0px;
}

.lists {
  list-style-type: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--accent-txt-cl);
}
.social-link:focus {
  background-color: var(--accent-txt-cl);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #757575;
}

.social-link:hover .social-icon {
  fill: white;
}

.social-link:focus .social-icon {
  fill: white;
}

.btn {
  font-family: inherit;
  background-color: var(--accent-txt-cl);
  color: white;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
}

.btn:hover {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.quality-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
}

.quality-icon-item {
}

.main-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.benefits {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.items {
  width: 270px;
  margin-right: 30px;
}

.items:last-child {
  margin-right: 0px;
}

.lists-items {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--sec-txt-cl);
}

/* main-secnion 2 */

.works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-works,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team {
  margin: 0px;
  margin-bottom: 50px;
}

.title-works {
  margin-top: 0px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  justify-content: center;
  padding-left: 0px;
  margin-top: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* main-secnion 3 */

.team-setion {
  background-color: #f5f5f5;

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-items {
  display: block;
}

.team-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 50px;
}

.team-card {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-img {
  margin: 0px;
}

.teams-name {
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.team-prof {
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-txt-cl);
  margin-bottom: 16px;
}

.team-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px;

  margin-block-start: 0px;
  margin-block-end: 0px;
}

.сlient-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.сlient-icon:hover {
  border: 1px solid var(--accent-txt-cl);
}

.сlient-icon:focus {
  border: 1px solid var(--accent-txt-cl);
}

.сlient-icon:hover .сlient-icon-item {
  fill: var(--accent-txt-cl);
}

.сlient-icon:focus .сlient-icon-item {
  fill: var(--accent-txt-cl);
}

.сlient-icon-item {
  fill: #afb1b8;
}

.сlient-icon-item:hover {
  fill: var(--accent-txt-cl);
}

/* footer section */

.footer {
  background-color: var(--darc-bg-cl);
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-social-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 70px;
}

.footer-item-webstudio {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  margin-left: 50px;
}

.footer-web {
  color: var(--accent-txt-cl);
}
.footer {
  color: white;
}

.address {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}
.footer-item:hover {
  color: var(--accent-txt-cl);
}
.footer-item:focus {
  color: var(--accent-txt-cl);
}
.footer-item {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-items {
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-left: 0px;
}

.footer-items-title {
  margin-top: 9px;
}

.footer-items :first-child {
  margin-top: 0px;
}

.footer-heading {
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;

  margin-block-start: 0px;
  margin-block-end: 0px;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: #44454e;
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: var(--accent-txt-cl);
}
.footer-social-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-social-link:hover .social-icon {
  fill: white;
}

.footer-social-link:focus .social-icon {
  fill: white;
}

/* Portfolio buttons */

.main-btn-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-lits {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0px;
}

.btn-lits .bottoms + .bottoms {
  margin-left: 8px;
}

.main-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 16);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.title {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: #757575;
  line-height: calc(30 / 16);
  color: var(--sec-txt-cl);
}

.btn-item-list {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
}

.btn-item-list:hover {
  color: white;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-item-list:focus {
  color: white;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0px;
  margin-top: 34px;
}

.logo-title-link .link {
  display: block;
}

.logo-title-link .link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-title-link .link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 24px 5px;
}
